/* 
nav {
	background-color: #2b2828;
	align-items: right;
  }
  
  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
  }
  
  li {
	float: right;
  }
  
  li a {
	display: block;
	color: white !important;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
  }
  
  li a:hover {
	background-color: #f1ebeb;
	color: #111;
  }

   li a:active {
	background-color: #a1c8f1;
	color: rgb(7, 7, 7);
  }


  //////////////////////////////////////////////////////////////////

 .sub-menu{
	display: none;

 }

 .topnav ul li a:hover .sub-menu{
	display: block;
	position: absolute;
	background: white;
	margin-top: 15px;
	margin-left: -15px;
 } */

 
 
 
 
 *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
 }

nav{
	background-size: cover;
	background-position: center;	
	font-family: sans-serif;
}

.menu-bar{
	background: rgb(44, 43, 43);
	text-align: center;
}

.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: white;
}

.menu-bar ul li{
	width: 100px;
	margin-top: 8px;
	margin-bottom: -8px;
	margin-left: 20px;
	margin-right: 20px;
}

.menu-bar ul li a{
	text-decoration: none;
	color: white;
}

 .menu-bar ul li:hover{
	background: #d3d7d2;
	border-radius: 3px;
}

.sub-menu-1{
	display: none;
}

.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background: rgb(44, 43, 43);
	margin-left: -8px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
	width: 75px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: center

}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: none;
	padding-bottom: 15px;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	margin-left: -9px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #d3d7d2;
	border-radius: 3px;
}